body{

  padding: 0;
  margin: 0;
  background-color: #CFD2CF;
}


.coin-search{

  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 250px;
  border: 3px solid #398AB9;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  background-color: transparent;
}
input:focus{

  color: #205375;
}

input::placeholder{

  color: #1C658C;
}

input:focus::-webkit-input-placeholder {
  color: white;
}