body{

  padding: 0;
  margin: 0;
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.coin-search{

  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 250px;
  border: 3px solid #398AB9;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  background-color: transparent;
}
input:focus{

  color: #205375;
}

input::placeholder{

  color: #1C658C;
}

input:focus::-webkit-input-placeholder {
  color: white;
}


.infoRow{
  background-color: #1C658C;
  color: white;
  width: 850px;
}

span{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

#s1{
 
 width: 135px;
}
#s2{
 
  width: 140px;
 }
 #s3{
   padding-left: 20px;
   width: 130px;
 }
 #s4{
 
  width: 130px;
  padding-left: 10px;
 }
 #s5{
 
  width: 120px;
  padding-left: 20px;
 }
#s6{

  width: 160px;
}

#notfoundalert{

  width: 850px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Saira', sans-serif;
}